@charset "utf-8";
/* ZhuoMeiFilm-UI-mobi V1.0 QQ:2394179198 手机专用 */
/* 首页 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, input  {
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 { -webkit-text-size-adjust: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

html{ font-size:62.5%; }

body { background:#FFF; font-family: arial, sans-serif; font-size:12px; font-size:1.2rem; color:#000; }

a:link{color:#333;text-decoration:none;}
a:visited{color:#333;text-decoration:none;}
a:hover,a:active,a:focus{color:#333; text-decoration:none;}
a:active,
a:hover {
  outline: 0;
}

img, fieldset{ border:0; }
img, a img { border:0px; padding:0px; margin:0px; vertical-align:middle; max-width:100%; }

ul, ol, li, dl, dt, dd {list-style:none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }

/*CLEARFIX*/
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear:both; height:0; }
.clearfix { display:inline-block; }

.f12 { font-size:1.2rem; }
.f13 { font-size:1.3rem; }
.f14 { font-size:1.4rem; }
.f15 { font-size:1.5rem; }
.f16 { font-size:1.6rem; }
.f17 { font-size:1.7rem; }
.f18 { font-size:1.8rem; }

#zhuomeicont { /* 100% */
background:#FFF;
max-width:640px;
height: 100%;
display: -webkit-box;
-webkit-box-orient: vertical;
position:relative;
overflow:hidden;
margin: 0 auto;
}

/* header */
.header { max-width:640px; position:relative; margin:0 auto; }
.header .top{ height:50px; display:-webkit-box; }
.header .top-logo{ font-size:0px; height:50px; overflow:hidden; -webkit-box-flex:1; }
.header .top-logo img{ max-height:50px; }

.top-right { float:right; width:50px; height:50px; padding:0px; text-align:center; position:relative; z-index:999;}

/*
   <header>
		<div class="top">
			<div class="top-logo">
				<img src="" alt="" title="" />
			</div>
		</div>
	</header>
*/

.menu { max-width:640px; height:40px; text-align:center; margin:0 auto; }
.menu ul li{ float:left; height:40px; line-height:40px; }
.menu ul li a { width:100%; height:100%; display:block; }
.menu ul li.none { background:none; }

#content {
display: -webkit-box;
-webkit-box-orient: horizontal;
}

#content section { /* 平分 */
display: -webkit-box;
-webkit-box-orient: horizontal;
-webkit-box-flex: 1;
}
/*
<div id="content"><section>1</section><section>2</section><section>3</section></div>
*/
/*
<div id="zhuomeicont">
  <header>

  </header>

  <div id="content">
      <section>
      
      </section>
  </div>

  <footer>

  </footer>

</div>
*/

/* 区块标题 满宽 */
.cont-1 {}
.cont-1 h3.title{ position:relative; overflow:hidden; margin:0px;}
.cont-1 h3.title a, .cont-1 h3 span.bt { display:block; height:38px; line-height:38px; padding-left:15px; font-weight: bold; }
.cont-1 h3.title .more { position:absolute; right:10px; top:0px; width:10px; height:38px; }

.cont-1 .ctxt{ padding:15px 10px; word-wrap:break-word; overflow:hidden; }

/*
<div class="cont-1">
		<h3 class="title"><a href=""><span class="more"></span></a></h3>
		<div class="ctxt clearfix"></div>
</div>
*/

/*底部信息*/
.foot-text{ text-align:center; color:#666; padding:15px 0px; font-size:1.2rem; line-height:1.5; background:#efefef;}

	
/* footer 固定区块 */
.footer { max-width:640px; margin:0 auto; padding-bottom:50px;}
#footerfixed{ width:100%; position:fixed; bottom:0px; left:0px; height:50px; overflow:hidden; z-index:99; text-align:center; }
.footerfixed-box { max-width:640px; height:50px; margin:0px auto; position:relative; }
.footerfixed-list { max-width:640px; height:50px; overflow:hidden; }
#footerfixed ul{ display:-webkit-box; }
#footerfixed ul li{ display:-webkit-box; -webkit-box-flex:1; text-align:center; border-right:1px solid rgba(255,255,255,0.2); }
#footerfixed ul li a{ display:block; width:100%; text-align:center; color:#fff; height: 50px; }
#footerfixed .icon{ display:block; margin:0px auto 12px; position:relative; top:8px; width:30px; height:20px; }

/*
<div id="footer">
	<div class="footer-box">
	<div class="footer-list">
		<ul>
			<li><a href="tel:"><span class="icon tel"></span><span class="txt">电话</span></a></li>
			<li><a href=""><span class="icon map"></span><span class="txt">地图</span></a></li>
			<li><a href=""><span class="icon message"></span><span class="txt">留言</span></a></li>
			<li><a href=""><span class="icon home"></span><span class="txt">首页</span></a></li>
		</ul>
	</div>
	</div>
</div>
*/

/* 多屏 滑动展示 s------ */
.swiper-main {
width: 100%;
height:100%;
margin: 0 auto;
z-index: 99;
position:relative;
}
.swiper-container {
  height: 360px;
  width: 100%;
}
.content-slide {
  padding: 10px 5px;
  display: block;
  overflow: hidden;
}

.pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom:0px;
  width: 100%;
  z-index:100;
}
/* 圆 */ 
/*
.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #999;
  box-shadow: 0px 1px 2px #555 inset;
  margin: 0 4px;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}
*/
/* 方 */
/*
.swiper-pagination-switch { display: inline-block; height: 10px; width: 40px; background: #DAEFF8; margin: 0 4px; cursor: pointer; }
.swiper-active-switch {
  background: #A9D0F8;
}
*/
/* 多屏 滑动展示 e------ */

/* 文本列表 */
.txt_list ul {}
.txt_list ul li{ padding:0px 8px; border-bottom:1px solid #ccc; height:54px; overflow:hidden; }
.txt_list ul li:last-child{ border-bottom:none!important;}
.txt_list ul li a{ display:-webkit-box;}
.txt_list ul li h4{ font-weight:normal; color:#000; -webkit-box-flex:1; padding-top:12px;overflow:hidden;}
.txt_list ul li p.t{ height:18px; line-height:18px; overflow:hidden; }
.txt_list ul li p.time{ color:#999; height:18px; line-height:18px; font-size:1.2rem;}
.txt_list ul li span.more{ display:block; width:20px; height:54px; }

/* 图文列表 */
.img_list { width:100%;}
.img_list ul{ width:100%; padding:0; margin:0 auto; overflow:hidden; }
.img_list li{ float:left; width:48%; text-align:center; margin:0 1%; margin-bottom:15px; border:1px #CCC solid; box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;overflow:hidden; border-radius:4px; position:relative; overflow:hidden; }
.img_list li img{ max-width:100%; }
.img_list .img_i{ width:100%; text-align:center; }
.img_list .img_t{ width:100%; position:absolute; left:0; bottom:0; background: #F7F7F7; font-size:1.2rem; line-height:1.8; text-align:center; color:#000; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }

/* 详细内容 */

#vcontent img { max-width:100%!important; height:auto!important; }

/* 320 480 640 */
/* media queries */

@media only screen and (max-width: 320px) { /*小于或等于320 */

.swiper-container { height: 260px; width: 100%; }

}

@media only screen and (min-width: 480px) and (max-width: 640px) { /* 大于480小于640 */

}