@charset "utf-8";
/* a
-------------------------------------------------------------------------------------------------------------------------------------------*/

/* header S */
.header_top {
	width:100%;
	background-color: #E05292;
	line-height:40px;
	text-align:center;
	color:#FFF;
	font-family:微软雅黑;
	font-weight:600;
	font-size:16px;
	
}
.header_top a {
	color:#FFF;
	text-decoration:none;
}
/* header E */

.xiangxi { width:100%; margin:0 auto; overflow:hidden; }
.xiangxi .content { padding:10px; overflow:hidden; font-size:14px; line-height:150%; }
.xiangxi .content img { max-width:100%; }
#content {}

/*文本*/
.txt_list { width:100%; font-size:14px; }
.txt_list ul li { height:40px; line-height:40px; border-bottom:1px #CCC dashed; }
.txt_list ul li a { color:#333; text-decoration:none; padding-left:10px; height:40px; display:block; font-weight:normal; font-size:14px; }
.txt_list ul li a { display:block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }

